-var blogtitles = ['Why Does Hunger Still Exist in Africa?','Norwegian school funds UK youth charity','Can Mark Zuckerberg Save Public Discourse?']
-if(!blogbg) blogbg=""
section.section.our-blog#blog(class="#{blogbg}")
  -var sectiontitle = 'Our Blog'
  include ../globals/_section-title.jade
  case blogversion
    when "blogpage"
      .container
        .row
          -for (x=1;x<4;x++)
            .col-md-4(class="wow fadeInUp" data-wow-delay="0.#{x}s")
              .blog-post
                .img
                  a(href="single-cause.html")
                    img(src="http://placehold.it/370x200", alt="")
                .content
                  h3.title: a(href="single-cause.html") #{blogtitles[x-1]}
                  .meta 
                    ul
                      li
                        i.icon-calendar
                        | 12/5/2015
                      li
                        i.icon-user
                        | John Doe
                  p
                    | Lorem ipsum dolor sit amet, conse ctetur adipis elit, sed do eiusmod tempor  ut labore et dolore  quis nostrud  ullamco... 
        nav.pagination
          ul.pagination
            li.active
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(href='#', aria-label='Next')
                span(aria-hidden='true') Next »
    default
      .container
        .row
          -for (x=1;x<4;x++)
            .col-md-4(class="wow fadeInUp" data-wow-delay="0.#{x}s")
              .blog-post
                .img
                  a(href="single-cause.html")
                    img(src="http://placehold.it/370x200", alt="")
                .content
                  h3.title: a(href="single-cause.html") #{blogtitles[x-1]}
                  .meta 
                    ul
                      li
                        i.icon-calendar
                        | 12/5/2015
                      li
                        i.icon-user
                        | John Doe
                  p
                    | Lorem ipsum dolor sit amet, conse ctetur adipis elit, sed do eiusmod tempor  ut labore et dolore  quis nostrud  ullamco... 